*
{
  margin:0;
  padding: 0;
  max-width: 100%;
  height: auto;
  font-family: 'Nerko One', cursive; 
  font-size: large;
}
.App {
  width:95vw;
  display: flex;
  text-align: center;
  
  background-color: rgb(208, 243, 155);
}
.NavBar{
  width: 95vw;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  font-size:xx-large;
}
.articulosPagina{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4px;
  width: 100vw;
}
.detalle{
  display: flex;
  justify-content: center;
  
  
}
.nav-link{
  text-decoration: none;
}
.count{cursor:pointer; }
		.number{
			margin:100px;
		}
.handleDecrement, .handleAdd{
			width:20px;
			height:20px;
			background: #8a8888;
			border-radius:4px;
			padding:8px 5px 8px 5px;
			border: 1px solid #ddd;
      border-radius: 30px;
      display: inline-block;
      vertical-align:middle;
      justify-items: center;
      
		}
		h2{
			height:34px;
      width: 100px;
      text-align: center;
      font-size: 26px;
			border:1px solid #ddd;
			border-radius:4px;
      display: inline-block;
      vertical-align: middle;
    }
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
li{
  list-style-type: none;
}
.cart{
  height: 50px;
  width: 80px;
}

.card-img-top{
  width: 350px;
  height: 350px;
} 
.card-text{
  display: flex;
  margin: 20px;
  padding: 20px;
  line-height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
