.App {
  width:95vw;
  display: flex;
  text-align: center;
  font-family: Verdana; 
  background-color: bisque;
}
.NavBar{
  width: 95vw;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
}
.articulosPagina{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4px;
  width: 100vw;
}
.nav-link{
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
ul{
  list-style-type: none;
}
.cart{
  height: 50px;
  width: 80px;
}

.card-img-top{
  width: 450px;
  height: 450px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
