*
{
  margin:0;
  padding: 0;
  max-width: 100%;
  height: auto;
  font-family: 'Nerko One', cursive; 
  font-size: large;
}
.App {
  margin: 15%;
  padding: 15%;
  width:100vw;
  display: flex;
  text-align: center;
  background-color: rgb(208, 243, 155);
}
.containerHome{
  box-sizing: border-box;
  border: #8a8888;
  
}
.sticky-top absolute
{
  position: absolute;
  text-decoration: none;

}
.articulosPagina{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: #8a8888;
  gap: 4px;
  width: 100vw;
}
.detalle{
  padding: 20%;
  display: flex;
  justify-content: center;
}
.containerContacto{
  margin: 20px;
  padding: 20px;
}
.nav-link{
  text-decoration: none;
}
.count{cursor:pointer; }
		.number{
			margin:100px;
		}
.handleDecrement, .handleAdd{
			width:20px;
			height:20px;
			background: #8a8888;
			border-radius:4px;
			padding:8px 5px 8px 5px;
			border: 1px solid #ddd;
      border-radius: 30px;
      display: inline-block;
      vertical-align:middle;
      justify-items: center;
      
		}
		h2{
			height:34px;
      width: 100px;
      text-align: center;
      font-size: 26px;
			border:1px solid #ddd;
			border-radius:4px;
      display: inline-block;
      vertical-align: middle;
    }

li{
  list-style-type: none;
}
.containerCart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;

}

.cart{
  height: 80px;
  width: 80px;
  border: none;
  
}
.carrito{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:5%;
}
.btn btn-secondary{
  border-radius: 50%;
}

.containerItemDetail
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5px;
}
.containerItem{
  display: flex;
  justify-content: space-around;
}
.item{
  padding: 10%;
}
.card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.card-img-top{
  width: 350px;
  height: 350px;
} 
.card-text{
  display: flex;
  margin: 20px;
  padding: 20px;
  line-height: 50px;
}

